<style>
.left-pan ul{margin-left: 0px;
    padding-left: 0px;}
.left-pan ul li{    
list-style: none;
border-bottom: 1px solid #cbcbcb;
padding: 10px 0px;
}	  
	
</style>
<section class="about-us">
  		<div class="container">
  			<div class="row">
  				<% if(notice) %><div id="notice" class="alert alert-warning"><%= notice %></div><% end %>
				
  				<div class="col-md-12 col-sm-12">
  					<div class="right-pan">
						
						<div class="row">
							<div class="col-md-8">
								<h4>Order Details</h4>
							</div>
							
							<div class="col-md-4" >
								<a href="/products/addtoorder/<%= @ordr.id %>" class="btn btn-border" style="float:right;margin-right:10px;"> Add Product </a>
								<a href="javascript:void()" onclick="history.back();" class="btn btn-border" style="float:right;margin-right:10px;"> Back </a>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-lg-12"><hr></div>
							<div class="col-lg-12">
							<table class="table table-bordered table-striped table-condensed">
							  <thead>
							  <tr>
								<th style="text-align:center">Product</th>
								<th style="text-align:center">Product Name</th>
								<th style="text-align:center">Serial</th>
								<th style="text-align:center">Make</th>
								<th style="text-align:center">Price</th>
								<th style="text-align:center">Quantity</th>
								<th>Action</th>
							  </tr>
							  </thead>
							  
							<tbody>	
							<% if(!@orders.blank?) %>	
								<% @orders.each do |order| %>
								  <tr>
									<td><%= image_tag order.product.image.url(:small) %></td>
									<td><%= order.product.title %></td>
									<td><%= order.product.serial %></td>
									<td><%= order.product.make %></td>
									<td>$<%= number_with_precision(order.price, :precision => 2) %></td>
									<td>
										<input type="text" name="quantity" id="quantity<%= order.id %>" class="form-control" style="width:120px;" value="<%= order.quantity %>" min="1">
									</td>
									<td>
										<input type="button" value="Update" class="btn btn-success" onclick="addToCart('<%= order.id %>','<%= order.product.id %>','<%= @ordr.id %>','<%= order.product.serial %>')"> <a href="javascript:void(0)" onclick="if(confirm('Are you sure?')){deleteprod('<%= order.id %>','<%= @ordr.id %>')}" class="btn btn-danger" >Delete</a>
									</td>
								  </tr> 
								<% end %>
								<tr>
									<td colspan="4" style="text-align:right">Total</td>
									<td>$<%= number_with_precision(@ordr.total_price, :precision => 2) %></td>
									<td colspan="2"></td>
								</tr>
							<% else %>
								<tr><td colspan="6" style="text-align:center"><b>No Items found</b></td></tr>
							<% end %>
							<tbody>
							</table>
							</div>
						</div>
						
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>
<script>
function addToCart(id,pid,oid,vpid){
	var quantity = $('#quantity'+id).val();
	if(quantity == 0 || quantity == null || quantity==undefined)
	{
		alert('Please enter the quantity.');
		//$('#error').html('Please enter the quantity.');
	}
	else{
		$.ajax({
			url: "/products/view/"+pid,
			type: 'GET',
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			//data: {'pid':pid},
			success: function(res)
			{
				
				console.log(res);
				var total_price = parseFloat(res.total_price).toFixed(2);
				
				$.ajax({
					url: "/order_details/updateCart/",
					type: 'POST',
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
					data: {'price':total_price,'id':id,'quantity':quantity,'oid':oid,'vpid':vpid},
					success: function(res)
					{
						console.log(res);
						window.location.href = "/order_details/edit/"+oid;
					}
			   });
				
			   //$('#productShow').modal('show');			
			   //window.location.href = "/products/";
			}
	   });
		
	}
}
function deleteprod(id,oid){
	$.ajax({
					url: "/order_details/orderdetailsdelete",
					type: 'POST',
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
					data: {'id':id},
					success: function(res)
					{
						console.log(res);
						window.location.href = '/order_details/edit/'+oid;
					}
			   });
}
</script>

