<section class="top-banner-area">
  		<div class="top-banner-content-area">
  			<div class="container">
  				<div class="row top-banner-content-holder">
  					<div class="col-sm-7">
  						<h2>Renewable Resources </h2>
  						<h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</h4>
						
						<table class="table table-bordered">
							<thead>
							  <tr>
								<th>Metal</th>
								<th>Low</th>
								<th>High</th>
								<th>Bid</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td>Platinum</td>
								<td>$<%= @pt[:low] %></td>
								<td>$<%= @pt[:high] %></td>
								<td>$<%= @pt[:bid] %></td>
							  </tr>
							  <tr>
								<td>Palladium</td>
								<td>$<%= @pd[:low] %></td>
								<td>$<%= @pd[:high] %></td>
								<td>$<%= @pd[:bid] %></td>
							  </tr>
							  <tr>
								<td>Rhodium</td>
								<td>$<%= @rh[:low] %></td>
								<td>$<%= @rh[:high] %></td>
								<td>$<%= @rh[:bid] %></td>
							  </tr>
							</tbody>
						</table>
						
  					</div>
  					<div class="col-sm-5">
  						<p class="text-right"><%= image_tag "small-logo.png" %></p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>
	
	
  	<section class="about-us">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<h2>About us</h2>
  				</div>
  				<div class="col-sm-9">
  					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto </p>
  					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui </p>
  					<p><a href="" class="btn btn-border">Read more</a> </p>
  				</div>
  				<div class="col-sm-3">
  					<p>
						<%= image_tag "bulb.jpg", :class => "img-responsive" %>
					</p>
  				</div>
  			</div>
  		</div>
  	</section>
  	
  	<section class="how-it">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<h2>How it works</h2>
  				</div>
  				<div class="clearfix"></div>
  				<div class="col-md-3 col-sm-3">
  					<div class="how-box">
						<div class="how-image">
							<%= image_tag "how-1.png" %>
						</div>
						<p>Sed ut perspiciatis unde iste natus error sit </p>
					</div>
  				</div>
  				<div class="col-md-3 col-sm-3">
  					<div class="how-box">
						<div class="how-image">
							<%= image_tag "how-2.png" %>
						</div>
						<p>Sed ut perspiciatis unde iste natus error sit </p>
					</div>
  				</div>
  				<div class="col-md-3 col-sm-3">
  					<div class="how-box">
						<div class="how-image">
							<%= image_tag "how-3.png" %>
						</div>
						<p>Sed ut perspiciatis unde iste natus error sit </p>
					</div>
  				</div>
  				<div class="col-md-3 col-sm-3">
  					<div class="how-box">
						<div class="how-image">
							<%= image_tag "how-4.png" %>
						</div>
						<p>Sed ut perspiciatis unde iste natus error sit </p>
					</div>
  				</div>
  				
  			</div>
  		</div>
  	</section>
  	
  	<section class="testimonial">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<h2>What our members saying</h2>
  				</div>
  				<div class="col-sm-9 center-div">
  					<ul class="bxslider">
  						<li>
  							<div class="testi-image">
								<%= image_tag "testi-image.png" %>
  								
  							</div>
  							<aside>
  								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui 	</p>
  							</aside>
  							<div class="clearfix"></div>
  							<p class="auth-name">______  Shalini Narayan</p>
  						</li>
  						<li>
  							<div class="testi-image">
								<%= image_tag "testi-image.png" %>  								</div>
  							<aside>
  								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui 	</p>
  							</aside>
  							<div class="clearfix"></div>
  							<p class="auth-name">______  Shalini Narayan</p>
  						</li>
  					</ul>
  					
  					
  				</div>
  			</div>
  		</div>
  	</section>


